* {
    font-family: 'Work Sans', sans-serif;
}

/* header styles */

.header-container {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 228px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;

    color: #131313;
}

nav ul {
    display: flex;
    margin-top: 63px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

nav li {
    list-style: none;
    margin-left: 51px;
}

/* banner styles */
.banner {
    margin: 205px 530px 0 530px;
    width: 862px;
    height: 225px;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.btn-primary {
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: none;
    padding: 20px 25px;
    margin-bottom: 50px;
}

.header-container img {
    margin: 100px 240px 45px 240px;
    border-radius: 8px;
    width: 1440px;
    height: 700px;
}

.main-container {}

/* team-quick styles
 */
.team-quick {
    display: flex;
    align-items: center;

}

/* 
team styles */

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-top: 85px;
    margin-left: 301px;


}

.team .thumbnail img {
    width: 342px;
    height: 342px;

    border-radius: 8px;
}

/* quick feature styles
 */
.quick {
    width: 537px;
    height: 304px;
    margin: 290px 301px 332px 75px;
}

/* quick title styles */

.quick-title {
    font-weight: 500;
    font-size: 45px;

    color: #727272;
    margin-bottom: 24px;


}

.of-our {
    font-weight: 700;
    line-height: 53px;

    color: #131313;

}

.features {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.quick-description {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

/* feature and experience styles */

.feature-container {
    display: flex;
    width: 1440px;
    height: 1059px;
    margin: 130px 240px 130px 240px;

}

.feature-exp-title {
    margin-right: 54px;
}

.feature-exp {
    width: 586px;
    height: 982px;
}

.love-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

/* features box styles */

.features-box {
    width: 586px;
    height: 744px;
}

.feature-box {
    width: 586px;
    height: 171px;
}

.feature-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 30px 30px 42px;
}

/* experience dtyles */
.btn-experience {
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 50px;

}

.year {
    width: 258px;
    height: 109px;
    font-weight: 700;
    font-size: 65px;
}

.exp {
    font-weight: 500;
    font-size: 25px;
}

.experience {
    width: 800px;
    height: 1059px;

}

.architect {
    margin-left: 92px;

}

/* icon styles */

.fact-title {
    margin-top: 230px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 240px;
}

.fact-description{
    font-weight: 400;
font-size: 16px;
color: #727272;
margin: 24px 0 101px 240px;
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 125px;
}

.icon-box{
    width: 241.83px;
height: 241.83px;
border: 1px solid #FF900E;
border-radius: 8px;
}

/* sponsors */
.sponsors-title{
    text-align: center;
    margin-left: 0;
    
}
.sponsors-title2 {
    margin-top: 230px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.sponsors-description{
    font-weight: 400;
font-size: 16px;
color: #727272;
margin-bottom: 52px;

}

.sponsors{
    display: flex;
    justify-content: center;
    gap: 156px;
    margin-bottom: 130px;
}


